*:focus {
    outline: none;
}

body {
    --dark-color: #24292e; 
    --medium-color: #5a5a5c;
    --light-color: #d1d5da;
    --background-light-color: #f6f8fa;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--dark-color);
    background: white;
    text-align: center;
}

header {
    background: var(--dark-color);
    color: white;
    font-size: 28pt;
    font-weight: 900;
    padding: 10px;
}

menu {
    display: table;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom: var(--light-color) 1px solid;
    background: var(--background-light-color);
}

form#data * {
    font-family: 'Raleway', sans-serif;
}

form#data {
    font-weight: 600;
    text-align: center;
    padding: 25px;
    margin: 25px 25px -1px;
    border: var(--light-color) 1px solid;
    border-bottom: none;
    display: inline-block;
    border-radius: 4px 4px 0 0;
    background: white;
}

form#data select {
    height: 35px;
    cursor: pointer;
    color: var(--medium-color);
    font-size: 11pt;
    border: none;
    border-left: 1px solid var(--light-color);
    border-radius: 0 3px 3px 0;
    text-align-last: center;
}

form#data div.lineSelects {
    text-align: center;
    margin: 25px 0;
    padding: 0;
    border-top: 1px solid var(--light-color);
}

form#data div.lineSelects div {
    display: inline-block;
    margin: 25px 10px 0;
    padding-left: 5px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    border: 1px solid var(--light-color);
    font-size: 10pt;
    border-radius: 3px;
}

form#data input[type=submit] {
    padding: 0 15px;
    cursor: pointer;
    height: 35px;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    border: 1px solid rgba(27,31,35,.2);
    font-size: 10pt;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    line-height: 35px;
}

form#data input[type=submit]:hover {
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.5);
}

form#data input[type=submit]:active {
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27,31,35,.5);
    box-shadow: inset 0 .15em .3em rgba(27,31,35,.15);
}



div#response {
    padding: 20px 0;
    display: inline-block;
}

div#response span.loading {
    font-weight: 600;
    font-size: 17pt;
}

div#response div#options {
    border: 1px solid var(--light-color);
    background: var(--background-light-color);
    display: block;
    border-radius: 3px;
}

div#response div#options input {
    padding: 0 15px;
    margin: 10px 5px;
    cursor: pointer;
    height: 35px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    border: 1px solid var(--light-color);
    font-size: 10pt;
    border-radius: 3px;
    color: var(--dark-color);
    font-weight: 600;
    line-height: 35px;
}

div#response div#options input:hover {
    background-image:linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position:-.5em;
    border-color:rgba(27,31,35,.35);
}

div#response div#options input:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,.35);
    box-shadow: inset 0 .15em .3em rgba(27,31,35,.15)
}

div#response div#status {
    font-size: 11pt;
    padding: 15px 0;
}

div#response div#status div b {
    font-weight: 600;
}

div#response div#status div#global-precision {
    display: none;
    font-size: 13pt;
    border-top: 1px solid var(--light-color);
    padding-top: 10px;
    margin-top: 10px;
}


div#response table#bht {
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-radius: 3px;
    border: 1px solid var(--light-color);
}

div#response table#bht tr th, 
div#response table#bht tr td {
    padding: 0;
}

div#response table#bht tr:not(:last-of-type) {
    border-bottom: 1px solid var(--light-color);
}

div#response table#bht tr th {
    font-weight: 600;
    font-size: 11pt;
    width: 90px;
    height: 45px;
    background: var(--background-light-color);
}

div#response table#bht tr td {
    font-size: 10pt;
    height: 30px;
}

div#response table#bht tr.true {
    background: #2fcb53;
}

div#response table#bht tr.false {
    background: rgb(215, 40, 40);
}